.news__list {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

.news__blu-top {
    background: #A8CFF0;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 20px;
}

.news__list-item {
    /*width: 21.9%;*/
    margin-right: 20px;
    max-width: 26.1%;
    background: #FFFFFF;
    box-shadow: 0px 4px 29px rgba(114, 181, 232, 0.1);
}

.news__list-item:last-of-type {
    margin-right: 0;
}

.news__sub {
    display: flex;
}

.news__sub-paragraph {
    max-width: 448px;
    font-size: 21px;
    line-height: 133.9%;
    color: rgba(26, 45, 68, 0.95);
    margin: 0;
}

.news__sub-button {
    width: 304px;
    text-align: center;
    padding: 22px 0 22px 0;
    border-radius: 7px;
    background: #DA5B5B;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
}

.news__sub-button:hover {
    box-shadow:  0 0 5px #DA5B5B;
}