.footer__icons {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 911px) {
    .footer__icons {
        flex-direction: column;
    }
    }